$color-green-primary: #51cf66;
$color-green-light: #8ce99a;
$color-green-dark: #37b24d;

$color-orange-primary: #ff922b;
$color-orange-light: #ffc078;
$color-orange-dark: #f76707;

$color-blue-primary: #339af0;
$color-blue-light: #74c0fc;
$color-blue-dark: #1c7ed6;

$color-grey-primary: #adb5bd;
$color-grey-light: #dee2e6;
$color-grey-dark: #495057;
